<div id="top-nav">
    <div class="top-nav-container">
        <div class="ntf-wrapper">
            <span class="ntf-number">1</span>
            <button>
                <i class="fa-solid fa-bell"></i>
            </button>
        </div>
        <div class="users">
            <button>
                <i class="fa-solid fa-user"></i>
            </button>
        </div>
        <div class="profile-picture">
            <img src="https://i.ibb.co/Fbyc7Mr/IMG-1114-Recovered.jpg" alt="Profile Picture">
        </div>
    </div>
</div>