<aside id="my-account-nav">
    <div class="nav-container">
        <%- include('./white-logo.ejs') %>
        <ul>
            <li>
                <a href="/dashboard" class="<%= path === '/home' ? 'active' : '' %>">
                    <i class="fa-solid fa-house"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="<%= path === '/my-account' ? 'active' : '' %>">
                    <i class="fa-solid fa-user"></i>
                    My Account
                </a>
            </li>
            <li>
                <form action="/logout" method="POST">
                    <input type="hidden">
                    <button type="Submit">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        Log Out
                    </button>
                </form>
            </li>
        </ul>
    </div>
</aside>