#auth {  
    .container {
        .form-box {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            @extend %modal-alignment;
            @include box-shadow($card-box-shadow);
            @include rounded($small-border-radius);
            padding: 30px 0;
            
            .logo-container {
                width: 100%;
                max-width: 200px;
                margin: 0 auto;
            }

            form {
                @extend %center-element;
                flex-direction: column;
                margin: auto {
                    top: 30px;
                    bottom: 20px;
                }
            }
            
            .input-box {
                position: relative;
                width: 100%;
                max-width: 400px;
                margin: 10px 0;

                input {
                    @include primary-input($padding: 0 22px);

                    &::placeholder {
                        visibility: hidden;
                    }

                    & ~ span.placeholder {
                        position: absolute;
                        left: 16px;
                        top: 50%;
                        @include transform(translateY(-50%));
                        color: $main-background-color;
                        pointer-events: none; 
                        background: white;
                        padding: 0 4px;
                        @include transition($input-transition);
                    }

                    &:hover,
                    &:focus,
                    &:not(:placeholder-shown) {
                        border: 1px solid $main-background-color;
                    }

                    &:focus ~ span.placeholder,
                    &:not(:placeholder-shown) ~ span.placeholder {
                        top: 0;
                        left: 20px;
                    } 
                }
            }

            .bottom-info {
                @extend %center-element;

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: rgb(42, 117, 255);
                    margin: 0 {
                        left: 6px;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}