.manage-users {
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;

    table {
        margin: 40px 0;
        border-radius: 12px;
        width: 100%;
    
        thead {
            background: #ededed;
    
            th {
                padding: 10px;
                text-align: left;
            }
        }
    
        tbody {
            .profile-picture {
                display: flex;
                align-items: center;
    
                img {
                    display: block;
                    @include circle(50px);
                    margin-right: 6px;
                }
            }
    
            tr {
                @include transition($main-transition);
    
                &:hover {
                    @include box-shadow($card-box-shadow);
                }
    
                td {
                    padding: 10px;
                    text-align: left;
    
                    &.email a {
                        text-decoration: none;
                        color: #0082ff;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
    
                    &.role {
                        svg {
                            color: #ffb800;
                        }
                    }
                }
            }
        }
    }
}