<div class="container">
    <% if (user.fullName) { %>
        <h1>Hello, <span><%= user.fullName%></span>!</h1>
    <% } else { %>
        <h1>Hello, <span><%= user.email %></span>!</h1>
    <% } %>
</div>